.protfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.protfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transform);
}
.protfolio_item:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}
.protfolio_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.protfolio_item h3{
    margin: 1.2rem 0 2rem;

}
.protfolio_item_cta{
    display: flex;
    gap: 2.2rem;
    margin-bottom: 1rem;
}


@media screen and (max-width:1024px){
.protfolio_container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}


}
@media screen and (max-width:750px){
    .protfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}