 .container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact_optins{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_optin{
    background: var(--color-bg-variant);
padding: 1.2rem;
border-radius: 1.2rem;
text-align: center;
border: 1px solid transparent;
transition: var(--transform);
}
.contact_optin:hover{
    background: transparent;
}
.contact_icon{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
.contact_optin a{
margin-top: 0.7rem;
display: inline-block;
font-size: 0.8rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-light);
    resize: none;
    color: var(--color-white);
}

@media screen and (max-width:1024px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
@media screen and (max-width:750px){
    .container.contact_container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
}