header{
    height: 110vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}



.cta{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 3rem;
    left: 10rem;
}
.header_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
 .me{
background: #AA6C7D;
width: 30rem;
position: absolute;
height: 33rem;
left: calc(50% - 16rem);
margin-top: 4rem;
margin-bottom: 4rem;
border-radius: 100%;
padding: 1rem;
}

.scroll_down{
    position: absolute;
    right: -2.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
font-size: 1rem;
}



@media screen and (max-width:1024px){
header{
    height: 70vh;

}

}
@media screen and (max-width:750px){
    header{
        height: 100vh;
    
    }
    .header_social,.scroll_down{
        display: none;
    
    }
}

